<a href="https://colab.research.google.com/github/andrewwgordon/phm_challenge_maintenance_action/blob/main/PHM_2013_Challenge_Maintenance_Action_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
case_to_problem_df=pd.read_csv('https://c3.nasa.gov/dashlink/static/media/dataset/Train_-_Case_to_Problem.csv')
nuisance_cases_df=pd.read_csv('https://c3.nasa.gov/dashlink/static/media/dataset/Train_-_Nuisance_Cases.csv')
case_to_events_and_parameters_df=pd.read_csv('https://c3.nasa.gov/dashlink/static/media/dataset/Train_-_Case_to_Events_and_Parameters.csv')

In [3]:
case_to_problem_df.head()

      Case Problem
0  C265832   P7547
1  C892371   P7695
2  C978338   P7695
3  C430134   P2651
4  C515475   P2584

In [6]:
nuisance_cases_df.head()

      Case
0  C776328
1  C072154
2  C092308
3  C747704
4  C061471

In [9]:
case_to_events_and_parameters_df.tail()

            Case   Event   P01   P02  ...       P27       P28   P29       P30
1316648  C999999  E78109  58.0  10.0  ... -1.497879 -0.621795   6.0 -0.666402
1316649  C999999  E62937  58.0  10.0  ... -1.497879 -0.621795   6.0 -0.666402
1316650  C999999  E35590  58.0  10.0  ...  0.415713 -1.125223  29.0 -0.666402
1316651  C999999  E06532  58.0  10.0  ...  0.569249 -0.663182  29.0 -0.666402
1316652  C999999  E51100  58.0  10.0  ...  0.569249 -0.663182  29.0 -0.666402

[5 rows x 32 columns]

In [20]:
case_to_problem_df.groupby('Problem')['Problem'].count()

Problem
P0159    19
P0898     4
P1737     2
P2584    53
P2651    13
P3600    17
P6559     3
P7547     6
P7695    17
P7940     1
P9766    14
P9965     2
P9975    13
Name: Problem, dtype: int64

In [16]:
case_to_events_and_parameters_df.groupby('Case')['Case'].count()

Case
C000167     47
C000192     27
C000496     10
C000553     51
C000607     27
          ...
C999362     43
C999426     24
C999594     21
C999892     21
C999999    211
Name: Case, Length: 10655, dtype: int64

In [18]:
case_to_events_and_parameters_df.groupby('Event')['Event'].count()

Event
E00120      1
E00129     36
E00250    200
E00321    194
E00370      2
         ...
E99393     19
E99422      2
E99489    142
E99733    302
E99873      3
Name: Event, Length: 1247, dtype: int64